@charset "UTF-8";

.postImg, .postClip{
	display:inline-block;
	height:15px;
	width:15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px 15px;
}


input:focus {
	outline: none;
}
#searchPost{
	text-align: center;
}
#searchPost input[type="submit"]{
	padding:0 10px;
}
#searchPost input[type="text"]{
	width:calc(100% - 170px);
	max-width:200px;
}
.search{
	border:0;
	height:22px;
	margin:0 5px 0 5px;
	border-radius: 4px;
	cursor: pointer;
}
#main_contents {
	padding-bottom: 150px
}

#main_contents ul {
	list-style: none;
	text-align: left;
	display: inline;
	position: relative;
}

.toptool ul {
	margin-left: 32px;
}

#main_contents li:first-child h1 {
	font-size: 3em;
	transition: all .05s;
}

#main_contents li:nth-child(2) b {
	font-size: 2em;
	transition: all .05s;
}

.topspace {
	height: calc(10vw + 5vh);
	min-height: 60px;
	max-height: 180px;
}

#next_btn {
	float: right;
	background-color: rgb(250, 250, 250);
	border: 0;
	width: 150px;
	height: 52px;
	transition: all .5s;
	margin: 5px 10px 10px 10px;
	cursor: pointer;
	border-radius: 50px;
	box-shadow: 0 10px 0 0 rgb(150, 150, 150);
	transition: all .3s;
}

#next_btn:hover {
	margin-top: 7px;
	box-shadow: 0 8px 0 0 rgb(150, 150, 150);
}

#next_btn:active {
	background-color: rgb(230, 230, 230);
	margin-top: 13px;
	box-shadow: 0 2px 0 0 rgb(150, 150, 150);
	transition: all .05s;
}

#con {
	top: 70px;
	left: 175px;
	margin: 0;
	border-radius: 15px;
	width: calc(100% - 235px);
	height: fit-content;
	padding-bottom: 7px;
	min-height: 0;
}

#boardList {
	display: block;
	position: absolute;
	top: 15px;
	left: 0;
	padding: 0 10px 0 0;
	border-right: 3px solid #606060;
	height: calc(100% - 100px);
	width: 150px;
	-ms-overflow-style:none;
	scrollbar-width:none;
}
#boardList::-webkit-scrollbar{
display:none;
}
#boardList p:first-child {
	margin: 50px 0 20px 0;
	text-decoration: none;
	cursor: default;
}

#boardList p:last-child {
	margin: 5px 0 30px 10px;
}

#boardList p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 5px 0 5px 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#boardList a{
	cursor: pointer;
}
#boardList a:hover{
	transition: background-color .5s;
	background-color: rgb(255,255,255);
}


#boardInfo {
	position: absolute;
	top: 20px;
	left: 175px;
	padding: 0 30px 0 30px;
	border-bottom: 2px solid #606060;
	height: 35px;
	width: calc(100% - 235px);
	text-align: center;
}

#contentsList {
	position: relative;
	height: fit-content;
}




#contentsList .listHeader {
	border-bottom: 1px #000000 solid;
	padding-bottom: 5px;
	font-size: 1em;
	text-align: center;
}

.post, .postNoContents {
	width:auto;
	overflow: hidden;
	border-bottom: 1px #909090 dashed;
	padding: 5px;
	height:fit-content;
	
}



#contentsList .post:last-child, .postNoContents:last-child{
	border-bottom: 1px #000000 solid;
}


.post:hover{
	cursor:pointer;
	transition: background-color .5s;
	background-color: rgb(255,255,255);
}

.post img{
	margin:-3px -3px 3px -3px;
}
.post img:first-child{
	margin-left:-6px;
}
.post img:first-child{
	margin-right:-6px;
}
.postTitle{
	width:calc(100% - 30px);
	display:inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}

.postWriter{
	margin-top:-4px;
	display:block;
	font-size: 0.8em;
}

.postInfo{
	margin-top:-6px;
	width:100%;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color:#606060;
}
.postInfo p:first-child{
	display:inline-block;
	font-size: 0.7em;
}
.postInfo p:last-child{
	display:inline-block;
	font-size: 0.8em;
}

.contentsPage {
	height: 26px;
	width: 100%;
	text-align: center;
}

#pre_btn, #nxt_btn, .page {
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	cursor: pointer;
}

.page {
	text-decoration: underline;
}

#write{
	margin-top:7px;
	text-align: right;
	font-size: 0.8em;
}
#write a{
	background-color: #ffffff;
	border-radius:3px;
	padding: 2px 10px 2px 10px;
	cursor: pointer;
}




@media screen and (max-width: 650px) {

	#boardList {
		z-index: 1000;
		position: fixed;
		top: calc(100% - 60px);
		margin: 0;
		width: 100%;
		padding: 10px 0 10px 0;
		border-radius: 0;
		border: 0;
		height: 45%;
		background-color: #000000;
	}
	#boardList:hover {
		top: 55%;
		transition: top .3s;
		overflow: scroll;
	}
	#boardList:hover p {
		display: block;
	}

	#boardList p:first-child {
		display: block;
		margin: 0 0 10px 0;
		border: 0;
		text-align: center;
		padding: 7px 0 10px 0;
		text-decoration: none;
		cursor: default;
	}
	#boardList p:last-child {
		margin: 0 10% 30px 10%;
		padding: 2px 0 10px 10%;
	}
	#boardList a {
		color: #909090;
	}
	#boardList p {
		color: #909090;
		margin: 0 10% 0 10%;
		padding: 5px 0 5px 10%;
		text-decoration: none;
		border-bottom: 1px #404040 solid;
		margin: 0 10% 0 10%;
	}
	#boardInfo {
		margin: 30px auto 0 auto;
		padding: 0;
		position: static;
		width: calc(100% - 30px);
		border-bottom: 2px solid #606060;
		height: 35px;
		text-align: center;
	}
	#con {
		position: static;
		margin: 20px 0 0 0;
		padding: 10px;
		width: calc(100% - 20px);
		height: fit-content;
		padding-bottom: 10px;
	}
	.contentsPage {
		position: static;
		margin-top: 10px;
		width: 100%;
		text-align: center;
		width: 100%;
	}
	#main_contents {
		padding-bottom: 40px;
		margin-bottom: 100px;
	}
}