@media print {
	body {
		opacity: 0;
	}
}

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #303030;
}

body {
	background-color: rgba(150, 150, 150, 1);
	margin: 0;
	min-width: 300px;
	user-select: none;
	position: relative;
}


.roundBtn{
	border:0;
	cursor:pointer;
	border-radius: 20px;
	padding:8px 8px;
}
.roundIpt{
	border:0;
	cursor:text;
	border-radius: 20px;
	padding:8px 5px;
}
#main {
	position: relative;
	z-index: 60;
	width: 100%;
	height: fit-content;
	padding-bottom: 100px;
	background-color: rgba(150, 150, 150, 1);
}

#main_contents {
	position: relative;
	z-index: 100;
	margin: auto;
	min-height: 500px;
	padding-bottom: 100px;
	margin-bottom: 100px;
	border-bottom: #606060 dashed 4px;
	width: 95%;
	transition: width .5s, margin-bottom .5s, max-width .5s;
}

@media screen and (min-width:1000px) {
	#main_contents {
		max-width: 1000px;
		 transition: max-width .5s;
	}
}

.contents {
	display: inline-table;
	width: calc(100% - 240px);
	height: fit-content;
	padding: 0 0 0 30px;
	transition: padding .2s width .2s;
}
.dashedCon{
	border:dashed 3px #606060;
	border-radius: 20px;
	min-height:40px;
	transition:.5s;
}
.paddingTable td{
	padding: 10px 0;
}

#con {
	position: relative;
	background-color: rgb(200, 200, 200);
	border-radius: 40px;
	margin: auto;
	max-width:800px;
	min-width:250px;
	min-height:250px;
	width: fit-content;
	padding: 30px 30px 82px 30px;
	box-shadow: 15px 30px 20px 5px rgb(50, 50, 50);
	transition: .5s;
}



@media screen and (max-width: 650px) {
	#main_contents {
		width: 95%;
		transition: width .5s, margin-bottom .5s, padding-bottom .5s;
		margin-bottom: 40px;
		padding-bottom: 40px;
	}

	.contents {
		float: none;
		display: block;
		width: auto;
		padding: 10px;
		margin: 0;
	}
	#con{
	padding:30px 10px;
	transition: .5s;
	}
}

