@charset "UTF-8";
input:focus,textarea:focus{
	transition:background-color .3s;
	outline: none;
	background-color:rgb(255,255,200);
}
#con{
	width:calc(100% - 60px);
}
#pubInf{
	padding:10px;
}
.paddingTable{
	width:100%;
}
.paddingTable td{
	padding:5px;
}
.paddingTable tr td:first-child{
	width: fit-content;
	word-break:keep-all;
	max-width:150px;
	min-width:60px;
}
.paddingTable tr td:last-child{
	max-width:100px;
	min-width:70px;
}
.paddingTable tr td:nth-child(2){
	width:60%;
}
.paddingTable tr td:nth-child(2) input, textarea{
	width:calc(100% - 10px);
	resize: none;
}

.pbtn{
	padding:10px 40px;
}


.topspace {
	height: calc(10vw + 5vh);
	min-height: 60px;
	max-height: 180px;
}


@media screen and (max-width: 650px) {
}
}