@charset "UTF-8";
input:focus {
	outline: none;
}
.linkList{
	border-top:1px #606060 solid;
	padding:5px 0;
	cursor:pointer;
}
.linkList:hover{
	transition: background-color .2s;
	background-color: rgb(255,255,255);
}

.linkList:first-child{
	border-top:0;
}
#pubInf,#postInfo,#replyInfo {
	padding:10px;
}
.paddingTable td{
	padding:10px;
}
.paddingTable tr td:first-child{
	width:30%;
	min-width:80px;
}
.paddingTable tr td:nth-child(2){
	width:70%;
	min-width:120px;
	word-break:break-word;
}
#con {
	width:90%;
}
th{
	text-align: right;
	padding-right: 10px;
}
#main_contents ul {
	list-style: none;
	text-align: left;
	display: inline;
	position: relative;
}

#main_contents li:first-child h1 {
	font-size: 3em;
	transition: all .05s;
}

#main_contents li:nth-child(2) b {
	font-size: 2em;
	transition: all .05s;
}



.topspace {
	height: calc(10vw + 5vh);
	min-height: 60px;
	max-height: 180px;
}

#next_btn {
	float: right;
	background-color: rgb(250, 250, 250);
	border: 0;
	width: 150px;
	height: 52px;
	transition: all .5s;
	margin: 5px 10px 10px 10px;
	cursor: pointer;
	border-radius: 50px;
	box-shadow: 0 10px 0 0 rgb(150, 150, 150);
	transition: all .3s;
}

#next_btn:hover {
	margin-top: 7px;
	box-shadow: 0 8px 0 0 rgb(150, 150, 150);
}

#next_btn:active {
	background-color: rgb(230, 230, 230);
	margin-top: 13px;
	box-shadow: 0 2px 0 0 rgb(150, 150, 150);
	transition: all .05s;
}

@media screen and (max-width: 650px) {
	#main_contents li:first-child h1 {
		font-size: 1.6em;
		transition: all .05s;
	}
	#main_contents li:nth-child(2) b {
		font-size: 1.4em;
		transition: all .05s;
	}
	#main_contents li h1 {
	font-size: 1.4em;
	transition: all .05s;
}
}