@charset "UTF-8";

input:focus {
	outline: none;
}

#main_contents ul {
	list-style: none;
	text-align: left;
	display: inline;
	position: relative;
}

.toptool ul {
	margin-left: 32px;
}
.ck_btn{
	background-color: rgb(250, 250, 250);
	border: 0;
	padding: 3px 7px 3px 7px;
	cursor: pointer;
	border-radius: 50px;
	
}
#main_contents h1 {
	font-size: 3em;
	transition: all .2s;
}

.topspace {
	height: calc(10vw + 5vh);
	min-height: 60px;
	max-height: 180px;
}

textarea {
	width: 80vw;
	min-width: 250px;
	max-width: 900px;
	height: 200px;
	resize: none;
}

#next_btn {
	float: right;
	background-color: rgb(250, 250, 250);
	border: 0;
	width: 150px;
	height: 52px;
	transition: all .5s;
	margin: 5px 10px 10px 10px;
	cursor: pointer;
	border-radius: 50px;
	box-shadow: 0 10px 0 0 rgb(150, 150, 150);
	transition: all .3s;
}

#next_btn:hover{
	margin-top: 7px;
	box-shadow: 0 8px 0 0 rgb(150, 150, 150);
}

#next_btn:active {
	background-color: rgb(230, 230, 230);
	margin-top: 13px;
	box-shadow: 0 2px 0 0 rgb(150, 150, 150);
	transition: all .05s;
}

#phhead {
	width: calc(30% - 10px);
	max-width: 60px;
	min-width: 55px;
}

#phmid, #phlast {
	width: calc(35% - 65px);
	min-width: 35px;
	max-width: 150px;
}

#emid {
	width: calc(60% - 30px);
	max-width: 120px;
}

#emadd {
	width: calc(40% - 20px);
	max-width: 80px;
}

#emsel {
	width: 100%;
}

tr td:first-child {
	font-weight: 700;
	min-width: 105px;
	transition: all .2s;
}

input, select {
	border: 0;
	border-radius: 20px;
	padding: 5px;
	background-color: rgb(240, 240, 240);
}

td {
	padding-bottom: 20px;
}

table {
	border-radius: 30px;
	border: 3px dashed gray;
	margin-bottom: 20px;
	padding: 20px;
	transition: all .2s;
}

select, input[type='button'], input[type='date'] {
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	table {
		padding: 5px;
		transition: all .2s;
	}
	#id, #nic, #pw, #pw_ck, #birthdate {
		width: calc(100% - 10px);
		max-width: 200px;
		min-width: 60px
	}
	#con {
		padding: 5px 5px 75px 5px;
	}
	#main_contents h1 {
		font-size: 1.8em;
		transition: all .2s;
	}
	table input, select {
		font-size: 0.9em;
	}
	tr td:first-child {
		font-size: 0.8em;
		min-width: 85px;
		transition: all .2s;
	}
}