@charset "UTF-8";


input:focus {
	outline: none;
}

#main_contents ul {
	list-style: none;
	text-align: center;
	display: inline;
	position: relative;
}

.toptool ul {
	margin-left: 32px;
}

.putd #id, .putd #pw {
	float: left;
	height: 40px;
	width: calc(92% - 45px);
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	transition: all .5s;
	font-size: 1.5em;
	margin-left: 8%;
}

.putd .rxb {
	color: gray;
	float: right;
	top: 50%;
	height: 26px;
	width: 26px;
	background-color: #f0f0f0;
	border-radius: 20px;
	border: 0;
	font-weight: 800;
	cursor: pointer;
	margin: 7px 7px 7px 0;
	transition: all .5s;
}

#main_contents .putd {
	position: relative;
	display: inline-block;
	background-color: rgb(0, 0, 0, 0);
	border: 3px dashed #606060;
	width: 50vw;
	max-width: 500px;
	min-width: 200px;
	padding: 3px;
	margin: 10px;
	border-radius: 40px;
}

.topspace {
	height: calc(15vw + 10vh);
	max-height: 250px;
}

#login_btn, #find_btn, #join_btn {
	background-color: rgb(250, 250, 250);
	border: 0;
	height: 52px;
	transition: all .5s;
	margin: 5px 10px 10px 10px;
	cursor: pointer;
	border-radius: 50px;
	min-width: 74px;
	box-shadow: 0 10px 0 0 rgb(150, 150, 150);
	transition: all .3s;
}

#login_btn:hover, #find_btn:hover, #join_btn:hover {
	margin-top: 7px;
	box-shadow: 0 8px 0 0 rgb(150, 150, 150);
	transition: 0;
}

#login_btn:active, #find_btn:active, #join_btn:active {
	background-color: rgb(230, 230, 230);
	margin-top: 13px;
	box-shadow: 0 2px 0 0 rgb(150, 150, 150);
	transition: all .05s;
}

#login_btn {
	float: left;
	width: calc(55% - 70px);
}

#join_btn {
	width: 20%;
	float: right;
}

#find_btn {
	width: 20%;
	margin-right: 0;
	margin-left: 0;
	float: right;
}

#info {
	display: block;
	padding-left: 20px;
	color: red;
	text-align: left;
	height: 30px;
}

@media screen and (max-width: 650px) {
	#login_btn, #find_btn, #join_btn {
		border: 0;
		height: 42px;
	}
	#login_btn {
		margin-left: 0;
		margin-right: 5px;
	}
	#join_btn {
		margin-left: 5px;
		margin-right: 0;
	}
	.putd #id, .putd #pw {
		height: 30px;
		font-size: 1em;
	}
	.putd .rxb {
		margin: 2px;
	}
}