@charset "UTF-8";


.toptool {
	z-index: 200;
	position: fixed;
	min-width: 300px;
	width: 100%;
	height: 80px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 50%,
		rgba(0, 0, 0, 0));
}

.toptool .home_btn {
	margin-left: 20px;
}

.toptool .rain_btn {
	padding: 0;
	vertical-align: middle;
	display: inline-block;
	width: 21px;
	height: 21px;
}
#numDrop, #dropAngle, #fps{
	width:130px;
}
.opin{
	padding:0 10px;
	width:110px;
	border-radius: 5px;
}
.opin:disabled{
	color:#b0b0b0;
}
.rain_option>p{
	margin:10px 0 0 10px;
	font-weight: bold;
}
.rain_option ul li p{
	margin-top:10px;
}
.rain_option ul{
	display:none;
	font-size: 0.8em;
	margin:15px 0 10px 0;
}
.rain_option li{
	list-style: none;
	}
.rain_option{
	background-color: rgba(0, 0, 0, 0);
	color:#b0b0b0;
	position:fixed;
	top:0;
	left:130px;
	z-index: 1100;
	padding:0 10px 10px 10px;
}
.rain_option:hover{
	border-radius: 0 0 10px 10px;
	background-color: rgba(0, 0, 0, 0.8);
}
.rain_option:hover ul{
	display: block;
}
.toptool #toggleRain {
	display: none;
	padding: 0;
	margin: 0;
	position: relative;
}

.toptool label {
	position: relative;
	padding: 0 40px 5px 0;
	margin: 0;
	cursor: pointer;
	background-position: top;
	background-size: 35px;
	background-repeat: no-repeat;
	border-radius: 15px;
	border: 2px solid gray;
}

.toptool #toggleRain:checked+label {
	background-image: url("/source/cloud.png");
}

.toptool #toggleRain+label {
	background-image: url("/source/rain.png");
}

.toptool p {
	padding: 0;
	margin: 0;
	color: gray;
}


.toptool ul {
	margin: 10px 0 0 5px;
	padding: 0;
	list-style: none;
}

.toptool li, .toptool p {
	display: inline;
}

.toptool .info, .toptool .login_btn, .toptool p {
	float: right;
}
.login_btn{
	margin:0 10px;
}

.toptool  a, .toptool p {
	text-shadow: 7px 8px 6px #606060;
	color: #b0b0b0;
	padding: 0 3px;
	margin: 0 5px;
	transition: text-shadow .3s;
}

.toptool a:hover {
	text-shadow: 4px 5px 3px #808080;
}
@media screen and (max-width: 650px) {
	
		.toptool p {
		display: none;
	}
}