@charset "UTF-8";

h1 {
	transition: all .5s;
}

.left_menu {
	display: inline-table;
	width: fit-content;
	padding-bottom: 50px;
	border-right: 3px solid #606060;
	border-bottom: 3px solid #606060;
	border-radius: 0 0 50px 0;
	color: #202020;
}

.left_menu>ul {
	text-align: center;
	width: 100%;
	padding: 20px 0 0 0;
	margin: 5px 15px 5px 0px;
	list-style: none;
}

.left_menu li {
	display: block;
	padding: 0;
	margin: 5px 0 10px 8px;
	overflow: hidden;
}

.left_menu li:first-child {
	margin-top: 0;
	margin-bottom: 30px;
}

.left_menu a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-left: #606060 3px solid;
	text-align: left;
	color: #202020;
	margin: 0;
	height: 25px;
	padding: 7% 0 7% 15px;
	width: 130px;
	border-radius: 0 10px 10px 0;
	background-color: rgba(0, 0, 0, 0);
	transition: all .2s;
	display: inline-block;
}

.left_menu a:hover {
	white-space: normal;
	height: 70px;
	background-color: rgba(200, 200, 200, 1);
	transition: all .2s;
}

.left_menu a:active {
	background-color: rgba(100, 100, 100, 1);
	transition: all .1s;
}

@media screen and (min-width: 650px) and (max-width: 1100px) {
	#main_contents {
		width: 90%;
		transition: .5s;
	}
	.contents {
		padding-left: 5px;
		width: calc(100% - 190px);
		transition: .5s;
	}
}

@media screen and (max-width: 650px) {
	h1 {
		font-size: 1.3em;
		margin: 5px;
		transition: all .5s;
	}
	.left_menu {
		float: none;
		display: block;
		width: auto;
		overflow: hidden;
		height: 50px;
		padding: 0 15px 15px 15px;
		border-right: 0;
		border-radius: 0;
		border-bottom: 3px #606060 solid;
		transition: all .2s;
	}
	.left_menu li {
		display: none;
	}
	.left_menu ul {
		width: auto;
		transition: all .2s;
	}
	.left_menu a {
		text-align: center;
		display: inline-table;
		white-space: normal;
		height: inherit;
		width: 100%; min-width : 100px;
		padding: 5px;
		padding-top:15px;
		margin:0 0 5px 0;
		border-radius: 5px 5px 0 0;
		border:0;
		border-bottom: 2px #606060 solid;
		transition: all .2s;
		min-width: 100px;
	}
	.left_menu:hover{
	height:600px;
		transition: all .2s;
	}
	.left_menu:hover li{
		display: block;
	}
	.left_menu a:hover {
		height: inherit;
		transition: all .2s;
	}
	.left_menu a:active {
		height: inherit;
		transition: all .2s;
	}
	.left_menu li:first-child {
		display: block;
		width: 100%;
		transition: all .2s;
	}
}